container_commands:
    01-create-storage-symlink:
        command: "php artisan storage:link"
        leader_only: true

    02-drop-tables:
        command: "php /var/app/ondeck/artisan migrate:fresh"
        leader_only: true

    03-migrate:
        command: "php /var/app/ondeck/artisan migrate"
        leader_only: true

    04-seed:
        command: "php /var/app/ondeck/artisan db:seed"
        leader_only: true

